@tailwind base;
@tailwind components;
@tailwind utilities;

.p-checkbox .p-checkbox-box {
  @apply border border-gray-400;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  @apply rounded-xl;
}

/* Track */
::-webkit-scrollbar-track {
  @apply rounded-xl bg-quaternary;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-xl bg-secondary bg-opacity-90 transition-colors duration-200 ease-in-out hover:bg-secondary;
}
